<div class="header">
  <div class="contact">
    <ul>
      <li><i class="fa fa-map-marker"></i><span><strong>Toronto, Ontario, Canada</strong></span></li>
      <li><i class="fa fa-linkedin"></i><span><strong>{{ site.linkedin_url }}</strong></span></li>
      <li><i class="fa fa-envelope"></i><strong>root [at] tsondt [dot] com</strong></li>
      <li><i class="fa fa-mobile"></i><strong>+1 ___ ___ ____</strong></li>
      <li style="display:none"><i class="fa fa-globe"></i><span><strong>{{ site.cv.url }}</strong></span></li>
    </ul>
  </div>
  <div class="title">
    <h1>Tran Thai Son Dinh</h1>
    <h3>Information Security Engineer</h3>
  </div>
</div>
